<?php

// MySql :

defined( '_PHP_CONGES' ) or die( 'Restricted access' );

$mysql_serveur  = "{{ libertempo_dbhost }}";
$mysql_user     = "{{ libertempo_dbuser }}";
$mysql_pass     = "{{ libertempo_dbpass }}";
$mysql_database = "{{ libertempo_dbname }}";
